{% extends "slideindex.html" %}
{% block title %}Linear Regression Page 3{% endblock %}
{% block navtitle %}Linear Regression{% endblock %}


{% block slider %}
<div class="row">
    <div class="col-md-6 text-start">
        {% if prev_page %}
        <a href="/linear_regression/{{ prev_page }}" class="btn btn-outline-info ms-2">
            <strong>
                <h4 class="mt-1">
                    <i class="bi bi-caret-left"></i> Prev
                </h4>
            </strong>
        </a>
        {% endif %}
    </div>
    <div class="col-md-6 text-end">
        {% if next_page %}
        <a href="/linear_regression/{{ next_page }}" class="btn btn-outline-info me-2">
            <strong>
                <h4 class="mt-1">
                    Next <i class="bi bi-caret-right"></i>
                </h4>
            </strong>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}