.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-50 {
    top: 50%;
}

.start-50 {
    left: 50%;
}

.translate-middle {
    transform: translate(-50%, -50%);
}