{% extends "slideindex.html" %}
{% block title %}Cost Page 1{% endblock %}
{% block navtitle %}Cost{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5 mt-4 mb-4">
        <div class="ms-4 p-3" style="background-color: #f3f3f3">
            <h1>What is Cost?</h1>
            <p class="h4" style="line-height: 1.5">Every function has a cost. Cost describes the error of a specific prediction line in relation to its data points. Each point's distance from the line adds to the total cost of the function. The goal of linear regression is to find the weight values and b values with the lowest cost, so it can best predict future data entries.
                <br>
                <br>
                <br>    
                <br>   
                <br>
                Find the w and b values that best fits this basic dataset using these interactive sliders
                <br>
                ------------------------------------------------------>
                <br> 
            </p>
        </div>  
    </div>
    <div class="col-md-7">
        {{ graph | safe }}
    </div>
</div>

{% endblock %}

{% block slider %}
<div class="row">
    <div class="col-md-6 text-start">
        {% if prev_page %}
        <a href="/linear_regression/{{ prev_page }}" class="btn btn-outline-info ms-2 text-dark border border-dark">
            <strong>
                <h4 class="mt-1">
                    <i class="bi bi-caret-left"></i> Prev
                </h4>
            </strong>
        </a>
        {% endif %}
    </div>
    <div class="col-md-6 text-end">
        {% if next_page %}
        <a href="/cost/{{ next_page }}" class="btn btn-outline-info me-2 text-dark border border-dark">
            <strong>
                <h4 class="mt-1">
                    Next <i class="bi bi-caret-right"></i>
                </h4>
            </strong>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}