{% extends "slideindex.html" %}
{% block title %}Gradient Descent Page 1{% endblock %}
{% block navtitle %}Gradient Descent{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {{ w_graph | safe }}
    </div>
    <div class="col-md-6">
        {{ b_graph | safe }}
    </div>
</div>
{% endblock %}

{% block slider %}
<div class="row">
    <div class="col-md-6 text-start">
        {% if prev_page %}
        <a href="/cost/{{ prev_page }}" class="btn btn-outline-info ms-2">
            <strong>
                <h4 class="mt-1">
                    <i class="bi bi-caret-left"></i> Prev
                </h4>
            </strong>
        </a>
        {% endif %}
    </div>
    <div class="col-md-6 text-end">
        {% if next_page %}
        <a href="/gradient_descent/{{ next_page }}" class="btn btn-outline-info me-2">
            <strong>
                <h4 class="mt-1">
                    Next <i class="bi bi-caret-right"></i>
                </h4>
            </strong>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}